.env
user_data/data*
user_data/logs*
user_data/*.sqlite
user_data/hyperopt.lock
user_data/hyperopt_results
user_data/notebooks/.ipynb_checkpoints
user_data/strategies/.ipynb_checkpoints
user_data/backtest_results
user_data/notebooks/catboost_info
user_data/tensorboard
user_data/model.gym
.venv
*.swp
db/
